@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Title)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.ReleaseDate)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.ReleaseDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Genre)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Genre)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Price)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>